@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&family=Comfortaa&display=swap');

:root {
    --main-color: black;
    --accent-color: white;
    font-family: 'Comfortaa', cursive;
    scroll-behavior: smooth;
}

body {
    max-width: 999;
    margin: auto;
}

.header-nav .logo {
    font-family: 'Balsamiq Sans', cursive;
    font-size: 3.5rem;
    text-align: left;
}

.header-nav .menu-items {
    justify-content: space-around;
    flex: 1;
    display: none;
}

.header-nav .menu-items a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--main-color);
    padding: 5px;
    border: 1px solid transparent;
}

.header-nav .menu-items a:hover {
    border: 1px solid var(--main-color);
} */

/* @media (min-width: 825px) {
    .header-nav {
        display: flex;
        align-items: center;
    }
} */

/*Burger menu*/
.burger-icon {
    font-size: 2rem;
}

.burger-icon:hover {
    cursor: pointer;
}

#burger-checkbox {
    display: none;
}

.header-nav input:checked ~ .menu-items {
    display: block;
}

@media (min-width: 825px) {

    .burger-icon {
        display: none;
    }

    .header-nav {
        display: flex;
        align-items: center;
    }

    #burger-checkbox ~ .menu-items {
        display: flex;
    }
}

.header-banner {
    background-image: url(../img/race-nation2021.svg);
    background-position: center;
    background-size: cover;
    min-height: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header-banner h1 {
    font-size: 3.5rem;
    color: var(--accent-color);
}

.product-list img {
    width: 100%;
}

@media (min-width: 500px) {
    .product-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 5px;
    }
}

.product-card img {
    width: 100%;
}

@media (min-width: 500px) {
    .list-of-programs {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 5px;
    }
}

@media (min-width: 660px) {
    .list-of-programs {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 999px) {
    .list-of-programs {
        grid-template-columns: repeat(4, 1fr);
    }
}

/*Controls*/

.button {
    padding: 0.35em 1.2em;
    border: 0.1em solid #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    color: #FFFFFF;
    text-align: center;
    transition: all 0.7s;
    background-color: transparent;
}

.button:hover {
    color: #000000;
    background-color: #FFFFFF;
    cursor: pointer;
}